USE [master]
GO
/****** Object:  Database [Golubtsov_215]    Script Date: 18.11.2023 17:08:31 ******/
CREATE DATABASE [Golubtsov_215]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Golubtsov_215', FILENAME = N'C:\Users\golub\Golubtsov_215.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Golubtsov_215_log', FILENAME = N'C:\Users\golub\Golubtsov_215_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Golubtsov_215].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Golubtsov_215]
GO
USE [Golubtsov_215]
GO
/****** Object:  Table [dbo].[Categorries]    Script Date: 18.11.2023 17:08:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorries](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categorries] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 18.11.2023 17:08:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [int] NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_Goods] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorries] ON 

INSERT [dbo].[Categorries] ([CategoryID], [CategoryName]) VALUES (1, N'Категория1')
SET IDENTITY_INSERT [dbo].[Categorries] OFF
GO
SET IDENTITY_INSERT [dbo].[Goods] ON 

INSERT [dbo].[Goods] ([ProductID], [Category], [ProductName], [Price]) VALUES (1, 1, N'Продукт1', 100.0000)
SET IDENTITY_INSERT [dbo].[Goods] OFF
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_Categorries] FOREIGN KEY([Category])
REFERENCES [dbo].[Categorries] ([CategoryID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_Categorries]
GO
USE [master]
GO
